# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node/Electron
node_modules/
dist/
out/
build/
.nyc_output/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp

# Env
.env
.env.*

